/*
Imports
-----------------------------------------------------*/

@import "compass/typography";

/*
Variables
-----------------------------------------------------*/

// Any specific variables should go here, if not a part
// of the global variables. Globals should be placed
// in the base file 


/*
Mixins
-----------------------------------------------------*/

// Any specific mixins should go here, if not a part
// of the global mixins. Globals should be placed
// in the base file


@mixin set-font($fam:$main-font, $fsize:$base-font-size, $lineHeight:$base-line-height) {
	$letter-spacing-mod: 0.08; 
	
	font-family:$fam;
	@include font-size($fsize);
	@include line-height($lineHeight);
	@if $fsize > 22 {
		@include rem( letter-spacing, (($letter-spacing-mod * $fsize) * -1) );
	}
}

@mixin font-size($px:$base-font-size) {
	@include rem(font-size, $px);
}

@mixin line-height($px:$base-line-height) {
	@include rem(line-height, $px);
}

@mixin a-inline {
	color: $red;
	text-decoration: underline;
}

/*
Styles
-----------------------------------------------------*/

body {
	@include set-font;	
}

a {
	text-decoration: none;
}

p {
	margin: 12px 0;
	
	strong {
		font-weight: bold;
		color: $dark;
	}
	
	a {
		@include a-inline();
	}
	
}

h1 {
	@include set-font($fam:$main-font, $fsize:95px, $lineHeight:78px);
	color: white;
	font-weight: bold;
	margin: 0;
	position: relative;
	left: -3px;
	@media all and (max-width: 888px) {
		@include font-size(75px);
		@include line-height(70px);
	}
	@media all and (max-width: $small-break-point) {
		@include font-size(45px);
		@include line-height(40px);
	}
}


h2 {
	@include set-font($fam:$main-font, $fsize:58px, $lineHeight:58px);
	color: $light-green;
	font-weight: bold;
	margin: 0;
	@media all and (max-width: 888px) {
		@include font-size(38px);
		@include line-height(35px);
	}
	@media all and (max-width: $small-break-point) {
		@include font-size(27px);
		@include line-height(24px);
	}
}

h3 {
	margin: 13px 0;
	font-weight: bold;
	@include set-font($fam:$main-font, $fsize:16px, $lineHeight:20px);
	color: white;
}


aside {
	@include set-font($fam:$main-font, $fsize:13px, $lineHeight:($base-line-height * 0.7));
	color: white;
	font-weight: bold;
}

.small-menu-link {
	font-weight: bold;
	text-transform: uppercase;
	@include font-size(16px);
}

span.small {
	font-weight: normal;
	@include font-size(13px);
}

.support-info {
}

li {
}

