/*/Volumes/Macintosh%20HD/Users/thomasleenders/Dropbox/working_copies/student-cookbook/style/sass/main.scss
Global Vars / Imports
-----------------------------------------------------*/

@import "compass";
@import "compass/reset";

@import "defaults";
//basic css defaults for page (no imports/variables)

@import "base";
//base variables, sprites & custom mixins 

@import "animation";
//all general animation styles

@import "typography";
// all general typographic styles

@import "layout";
// all general layout styles

@import "forms";
// all general form styles

$bkg-img: url('/assets/background-photos/backpackers.jpg') center center no-repeat;

/*
Parent
-----------------------------------------------------*/


html, body {
	height: 100%;
}

body {}

main {
	overflow: hidden;
}

/*
Header / Nav / Logo
-----------------------------------------------------*/

header {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

nav#main {
	@include pie-clearfix();
	position: relative;
	z-index: 2;
	border-bottom: 1px solid rgba(255,255,255,0.50);
	background-color: rgba(255,255,255,0.1);
	padding: $global-padding;
	
	#logo {
		@include center-abs();
		
		g > g {
			fill: white;
		}
	}
	
	#issue {
		float: left;
		color: white;
		@include font-size(13px);
		span {
			@extend .small-menu-link;
			color: white;
			$spacing: 7px;
			border-right: 1px solid $cream;
			margin-right: $spacing; padding-right: $spacing;
		}
		&:after {
			content: "Archive";
		}
		
		@media all and (max-width: $small-break-point) {
			span {
				border: none;
			}
			&:after {
				content: none;
			}
		}
	}
}

#menu-btn {
	float: right;
	display: block;
	@include transition(all 0.2s ease-out);
	div.bar {
		background-color: white;
		width: 30px; height: 4px;
		margin: 3px 0;
	}
}

/*=====================
	  Main Menu
=====================*/

#menu {
	display: none;
	@include fullscreen();
	@include box-sizing('border-box');
	z-index: 99999;
	background-color: white;
	text-align: right;
	padding:108px $global-padding $global-padding 0;
	
	@extend %menu-animation;
	
	@media all and (max-width:$small-break-point) {
		padding-top: 80px;
	}
	
	#close {
		position: absolute;
		top: $global-padding; right: $global-padding;
		color: $dark;
		font-weight: bold;
		@include font-size(13px);
		&:after {
			content: "";
			margin-left: 10px;
			@include inline-block;
			@extend .icons-dark-cross;
		}
	}
	
	a.menu-link {
		@extend h2;
		margin: 8px 0;
		color: $dark;
		display: block;
	}
}


header.toggle-open #menu {
	display: block;
}


/*=====================
	  Archive
=====================*/

#archive {
	display: none;
	$bkg-colour: #333333;
	
	@extend %menu-animation;

	position: absolute;
	z-index: 99999;
	top: 10px;
	left: 2.5%;

	width: 95%;
	max-width: 796px;
	
	background-color: $bkg-colour;
	
	ul {
	
		@media all and (min-width: 709px) { @include grid(li, $number:4); }
		@media all and (max-width: 708px) { @include grid(li, $number:3); }
		@media all and (max-width: 531px) { @include grid(li, $number:2); }
		@media all and (max-width: 400px) { @include grid(li, $number:1); }
		
		li {
			min-width: 168px;
			border: 1px solid $bkg-colour;
			height: 186px;
			background-color: #3d3d3d;
			text-align: center;
			display: table; 
			
			a, .lone {
				vertical-align: middle;
				display: table-cell;
			}
			h3 {
				margin-bottom: 0;
			}
			span.small {
				color: #b8b8b8;
			}
		}
	}
}

#archive form {
	$search-width: 83%;
	$search-padding: 25px 0;
	position: relative;

	width: 100%;
	
	input[type="submit"] {
		@extend %hidden;
	}
	
	label {
		padding: $search-padding;
		position: relative;
		@include inline-block;
		top: -3px; //for visual weight
		span {
			@include center-abs();
		}
	}	
	input[type="text"] {
		padding: $search-padding;
		border: none;
		overflow: none;
		background-color: transparent;
		color: white;
		@include box-sizing('border-box');
		@include set-font($main-font, 22px, $base-line-height);
		outline: none;
	}
	
	#close {
		position: relative;
	}
	
		// Media Extension for form pos

	@mixin mediaWidth($percentage) {
		label { width: (100% - $percentage) * 0.6; }
		input[type="text"] { width: $percentage; }
		#close { width: (100% - $search-width) * 0.4; }
	}
	
	@media all and (min-width: 709px) { @include mediaWidth($search-width); }
	@media all and (max-width: 708px) { @include mediaWidth(($search-width - 3)); }
	@media all and (max-width: 531px) { 
		@include mediaWidth(($search-width - 10));
		input[type="text"] { @include font-size(18px) }
	}
	@media all and (max-width: 400px) { @include mediaWidth(($search-width - 15)); }
	
}

// DEVELOP THE HIGHLIGHT FEATURE

%archive-highlighted {
	&:before {
/*
		content: "";
		position: absolute;
		display: block;
		border: 3px solid white;
		width: 100%;
*/
	}
}

#archive ul li.highlighted a, #archive ul li:hover { @extend %archive-highlighted; }

/*
Theme
-----------------------------------------------------*/

// Theme is child to header

#theme {
	position: fixed;
	width: 100%;
	height: 96%;
	top:0;
	left: 0;
	z-index: 1;
	min-height: 395px;
	
	background: $bkg-img;
	background-attachment: fixed;
	@include background-size(cover);
	@include box-sizing('border-box');
	display: table;
	
	@extend .structure-padded;
	padding-top: 24px;
	
	//make this work more semantically - flexbox?
	.info {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		
		@media all and (max-width: 888px) {
			text-align: center;
			.icon {
				display: none;
				left: 0;
				@include opacity(0.1);
				@include scale(1.5);
				
			}
		}
		
	}
	
	h2 {
		margin-bottom: 13px;
	}
	
	#read-about {
		@extend .button-border;
		margin-top: 27px;
	}
	
	.copy {
		position: relative;
		z-index: 2;
	}
	
	.icon {
		@include vert-center(243px);
		right: 0;
		left: auto;
		z-index: 1;
		path {
			fill:white;
		}	
	}
	
	aside {
		position: absolute;
		bottom: $global-padding;
		left: $global-padding;
		@media all and (max-height:475px) {
			display: none;
		}
	}
}


/*
Recipe List
-----------------------------------------------------*/


/*
Animations
-----------------------------------------------------*/

#theme .copy {
	h2, h1, #read-about {
		@include opacity(0);
	}
}

body.loaded {
	#theme .icon {
		display: block;
		@include backface-visibility(visible);
		@include animation(spinUp, 1.5s, ease, 0s, 1, normal, both);
	}
	#theme .copy h2 {
		@include animation(fadeUp, 0.4s, ease, 0s, 1, normal, forwards);
	}
	#theme .copy h1 {
		@include animation(fadeUp, 0.5s, ease, 0.1s, 1, normal, forwards);
	}
	#read-about {
		@include animation(fadeUp, 0.6s, ease, 0.2s, 1, normal, forwards);	
	}
}

header.toggle-open {
	#menu-btn {
		@include opacity(0);
	}
	#menu {
		@include animation(menu, 0.3s, ease-out, 0s, 1, normal, both);
	}
}

#archive.toggle-open {
	display: block;
	@include animation(menu, 0.3s, ease-out, 0s, 1, normal, both);
}



/*
Plugin Styles
-----------------------------------------------------*/

.pace .pace-progress {
  	$size: 10px;

	background: $light-green;
	position: fixed;
	z-index: 2000;
	bottom: 0;
	left: 0;
	height: $size;
	overflow: visible;
  
  .pace-progress-inner {
		position: absolute;
		bottom: 100%; left: -10%;
		padding-left: $size;
		width: 110%;
		height: $size;
		background-color: darken($light-green, 10%);
		@include transform-origin(0,100%);
		@include skew(-45deg, 0);
		&:after {
			content: "";
			position: absolute;
			top: $size; right: 0;
			width: $size;
			height: $size;
			background: darken($light-green, 15%);
			@include transform-origin(0,0);
			@include skew(45deg, -45deg);
			@include backface-visibility(visible);
		}
  }
}

.pace-inactive {
  display: none;
}

