/*
Imports
-----------------------------------------------------*/

@import "compass/typography";

/*
Variables
-----------------------------------------------------*/


/*
Mixins
-----------------------------------------------------*/


@mixin set-font($fam:$main-font, $fsize:$base-font-size, $lineHeight:$base-line-height) {
	$letter-spacing-mod: 0.08; 
	
	font-family:$fam;
	@include font-size($fsize);
	@include line-height($lineHeight);
	@if $fsize > 22 {
		@include rem( letter-spacing, (($letter-spacing-mod * $fsize) * -1) );
	}
}

@mixin font-size($px:$base-font-size) {
	@include rem(font-size, $px);
}

@mixin line-height($px:$base-line-height) {
	@include rem(line-height, $px);
}

@mixin a-inline {
	color: $red;
	text-decoration: underline;
}

/*
Styles
-----------------------------------------------------*/

body {
	@include set-font;	
}

a {
	text-decoration: none;
}

p {
	margin: 12px 0;
	
	strong {
		font-weight: bold;
	}
	
	a {
		@include a-inline();
	}
	
}

h1 {
	@include set-font($fam:$main-font, $fsize:95px, $lineHeight:78px);
	color: red;
}


h2 {
	@include set-font($fam:$main-font, $fsize:58px, $lineHeight:58px);
}

h3 {
	@include set-font($fam:$main-font, $fsize:16px, $lineHeight:20px);
}

%small-menu-link {
	@include font-size(16px);
}