/*/Volumes/Macintosh%20HD/Users/thomasleenders/Dropbox/working_copies/student-cookbook/style/sass/main.scss
Global Vars / Imports
-----------------------------------------------------*/

@import "compass";
@import "compass/reset";

@import "defaults";
//basic css defaults for page (no imports/variables)

@import "base";
//base variables, sprites & custom mixins 

@import "animation";
//all general animation styles

@import "typography";
// all general typographic styles

@import "layout";
// all general layout styles

@import "forms";
// all general form styles

/*
Parent
-----------------------------------------------------*/


html, body {
	height: 100%;
}

body {}

main {
	overflow: hidden;
}

/*
Header / Nav / Logo
-----------------------------------------------------*/



/*
Plugin Styles
-----------------------------------------------------*/

.pace .pace-progress {
  	$size: 10px;

	background: $light-green;
	position: fixed;
	z-index: 2000;
	bottom: 0;
	left: 0;
	height: $size;
	overflow: visible;
  
  .pace-progress-inner {
		position: absolute;
		bottom: 100%; left: -10%;
		padding-left: $size;
		width: 110%;
		height: $size;
		background-color: darken($light-green, 10%);
		@include transform-origin(0,100%);
		@include skew(-45deg, 0);
		&:after {
			content: "";
			position: absolute;
			top: $size; right: 0;
			width: $size;
			height: $size;
			background: darken($light-green, 15%);
			@include transform-origin(0,0);
			@include skew(45deg, -45deg);
			@include backface-visibility(visible);
		}
  }
}

.pace-inactive {
  display: none;
}

