<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>App Template</title>
  <link rel="stylesheet" href="/assets/style/css/main.css">
</head>

<body>
	
	<h1>h1 test</h1>
	<h2>h2 test</h2>
	<h3>h3 test</h3>

	<p>p test <strong>strong</strong> <a href="#">this is an s tag</a></p>
	
	<a href="#">no p</a>	

	<script src="/app/app.js"></script>
	<!-- Live Reload Sync Scripts -->
	<script src='http://localhost:3000/socket.io/socket.io.js'></script>
	<script src='http://localhost:3001/browser-sync-client.min.js'></script>
</body>
</html>